<div class="credintial py-5">
    <hr>
    <div class="container">
      <em>© Published Under MIT Liscence</em> <br>
      <!-- <em class="text-muted">As an open-source repository, your contributions are welcome here. We are trying to make it bilingual, supporting both English and Bengali. If possible, we will also try to include minor languages spoken in Bangladesh. Thank you for your understanding. If you want to improve this page, please make changes and submit a pull request to merge your changes.</em> -->
      <em class="d-block mt-3">
        Maintained and authorised by <a href="{{ site.author.url }}">{{ site.author.name }}</a> | Supported by the
        Bangladesh Forest Department and the Bangladesh National Herbarium under the Ministry of Environment, Forest and
        Climate Change.
      </em>
    </div>
  </div>