<nav class="navbar navbar-expand-lg py-4 border-bottom">
  <div class="container-xxl">
    <h3>
      <a rel="author" class="navbar-brand" href="{{"/" | relative_url }}">{{ site.title | escape }}</a><br>
      <em class="h6">@aishikrehman</em>
    </h3>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#MainNavBar"
      aria-controls="MainNavBar" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="MainNavBar">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/species/">All Species</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/species/">Genus</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://aishikrehman.com/about/">About Me »</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/species/">🔍</a>
        </li>

        <li class="btn border-top docs-sidebar-toggle d-md-none collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#docs-docs-nav" aria-controls="docs-docs-nav" aria-expanded="false"
          aria-label="Toggle docs navigation"> List of All Items </button>
      </ul>
    </div>
  </div>
</nav>