---
layout: base
---
<div class="container-xxl docs-layout">
  <aside class="docs-sidebar">
    <nav class="docs-links py-md-4 collapse" id="docs-docs-nav" aria-label="Docs navigation">
      <ul class="list-unstyled mb-0 py-3 pt-md-1">
        <li class="mb-1">
          <em class="btn d-inline-flex align-items-center collapsed" data-bs-toggle="collapse"
            data-bs-target="#Letters-and-Alphabet-1" aria-expanded="false" aria-current="false">Letters and
            Alphabet</em>
          <div class="collapse" id="Letters-and-Alphabet-1">
            <ul class="list-unstyled fw-normal pb-1 small">
              <li>
                <a href="/c/bengali/alphabet/ka-kha" class="d-inline-flex align-items-center rounded"
                  aria-current="page">ক ও খ</a>
              </li>
              <li>
                <a href="/c/bengali/alphabet/ga-gha" class="d-inline-flex align-items-center rounded">গ ও ঘ</a>
              </li>
              <li>
                <a href="/c/bengali/alphabet/ng" class="d-inline-flex align-items-center rounded">ঙ ও ং</a>
              </li>
              <li>
                <a href="/c/bengali/alphabet/ja-jha" class="d-inline-flex align-items-center rounded">চ ও ছ</a>
              </li>
              <li>
                <a href="/c/bengali/alphabet/ya" class="d-inline-flex align-items-center rounded">জ, ঝ , য</a>
              </li>
              <li>
                <a href="/c/bengali/alphabet/pa-pha" class="d-inline-flex align-items-center rounded">য়</a>
              </li>
              <li>
                <a href="/c/bengali/alphabet/ba-bha" class="d-inline-flex align-items-center rounded">প, ফ</a>
              </li>
              <li>
                <a href="/c/bengali/alphabet/ma" class="d-inline-flex align-items-center rounded">ব ও ভ</a>
              </li>
              <li>
                <a href="/c/bengali/alphabet/ra" class="d-inline-flex align-items-center rounded">ম</a>
              </li>
              <li>
                <a href="/c/bengali/alphabet/la" class="d-inline-flex align-items-center rounded">র</a>
              </li>
              <li>
                <a href="/c/bengali/alphabet/sa-sha" class="d-inline-flex align-items-center rounded">ল</a>
              </li>
              <li>
                <a href="/c/bengali/alphabet/ha" class="d-inline-flex align-items-center rounded">শ ষ স</a>
              </li>
              <li>
                <a href="/c/bengali/alphabet/rra" class="d-inline-flex align-items-center rounded">হ</a>
              </li>
              <li>
                <a href="/c/bengali/alphabet/ta-tha" class="d-inline-flex align-items-center rounded">ড় ঢ়</a>
              </li>
              <li>
                <a href="/c/bengali/alphabet/" class="d-inline-flex align-items-center rounded" aria-current="page">ৎ ত
                  থ</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="mb-1">
          <em class="btn d-inline-flex align-items-center collapsed" data-bs-toggle="collapse"
            data-bs-target="#Bengali-Grammar-2" aria-expanded="false" aria-current="false">Bengali Grammar</em>
          <div class="collapse" id="Bengali-Grammar-2">
            <ul class="list-unstyled fw-normal pb-1 small">
              <li>
                <a href="/" class="d-inline-flex align-items-center rounded" aria-current="page">বাংলাদেশের ইতিহাস</a>
              </li>
              <li>
                <a href="/paschimbanger-itihash" class="d-inline-flex align-items-center rounded">পশ্চিমবঙ্গের
                  ইতিহাস</a>
              </li>
              <li>
                <a href="/adhunik-bangla-bhasha" class="d-inline-flex align-items-center rounded">আধুনিক বাংলা ভাষা</a>
              </li>
              <li>
                <a href="/prochhin-banglar-itihash" class="d-inline-flex align-items-center rounded">প্রাচীন বাংলার
                  ইতিহাস</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="mb-1">
          <em class="btn d-inline-flex align-items-center collapsed" data-bs-toggle="collapse"
            data-bs-target="#Reading-3" aria-expanded="false" aria-current="false">Reading</em>
          <div class="collapse" id="Reading-3">
            <ul class="list-unstyled fw-normal pb-1 small">
              <li>
                <a href="/" class="d-inline-flex align-items-center rounded" aria-current="page">বাংলাদেশের ইতিহাস</a>
              </li>
              <li>
                <a href="/paschimbanger-itihash" class="d-inline-flex align-items-center rounded">পশ্চিমবঙ্গের
                  ইতিহাস</a>
              </li>
              <li>
                <a href="/adhunik-bangla-bhasha" class="d-inline-flex align-items-center rounded">আধুনিক বাংলা ভাষা</a>
              </li>
              <li>
                <a href="/prochhin-banglar-itihash" class="d-inline-flex align-items-center rounded">প্রাচীন বাংলার
                  ইতিহাস</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="mb-1">
          <em class="btn d-inline-flex align-items-center" data-bs-toggle="collapse"
            data-bs-target="#Reading-Materials-4" aria-expanded="false" aria-current="false">Reading Materials</em>
          <div class="collapse" id="Reading-Materials-4">
            <ul class="list-unstyled fw-normal pb-1 small">
              <li>
                <a href="/" class="d-inline-flex align-items-center rounded" aria-current="page">বাংলাদেশের ইতিহাস</a>
              </li>
              <li>
                <a href="/paschimbanger-itihash" class="d-inline-flex align-items-center rounded">পশ্চিমবঙ্গের
                  ইতিহাস</a>
              </li>
              <li>
                <a href="/adhunik-bangla-bhasha" class="d-inline-flex align-items-center rounded">আধুনিক বাংলা ভাষা</a>
              </li>
              <li>
                <a href="/prochhin-banglar-itihash" class="d-inline-flex align-items-center rounded">প্রাচীন বাংলার
                  ইতিহাস</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="my-3 mx-4 border-top"></li>
        <li>
          <a href="#" class="d-inline-flex align-items-center rounded">Go back to All COURSES</a>
        </li>
      </ul>
    </nav>
  </aside>
  <main class="docs-main order-1 my-md-4">
    <article class="post h-entry container pt-50">
      <div class="e-content row">
        <div class="col-lg-8 pe-lg-5" style="font-size:large">
          <h2 class="pb-3">
            {%- if page.title -%}
            {{ page.title }}
            {%- else -%}
            {{ page.Species }}
            {%- endif -%} </h2>
          <div class="description">
            {{ page.Description }}
            {%- if page.img2 -%}
            <img src="{{ page.img2 }}" class="py-3 mw-100">
            {%- endif -%}
            {%- if page.img3 -%}
            <img src="{{ page.img3 }}" class="mw-100">
            {%- endif -%}
          </div>

        </div>
        <div class="col-lg-4">
          <div class="wrapper bg-light p-2">
            <div class="text-center pb-2">
              <strong>Infobox</strong>
            </div>
            <table class="table">
              <tbody>
                {%- if page.Family -%}
                <tr>
                  <td class="family">Family</td>
                  <td class="{{page.Family}}">{{page.Family}}</td>
                </tr>
                <tr>
                  <img src="{{page.img}}" alt="{{page.Species}}" class="mw-100">
                </tr>
                {%- endif -%}
                <tr>
                  <td>Genus</td>
                  <td>{{page.Genus}}</td>
                </tr>
                <tr>
                  <td>Species</td>
                  <td>{{page.Species}}</td>
                </tr>
                <tr>
                  <td>Author</td>
                  <td>{{page.Author}}</td>
                </tr>
                <tr>
                  <td>Synonyms</td>
                  <td>{{page.Synonyms}}</td>
                </tr>
                <tr>
                  <td>Distribution</td>
                  <td>{{page.Distribution}}</td>
                </tr>
                <tr>
                  <td>Local Name</td>
                  <td>{{page.Local_Name}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        {{ content }}
      </div>

    </article>
  </main>
</div>
<div class="credintial pb-5">
  <div class="container">
    <hr>
    <h6>© Published Under MIT Liscence</h6>
    <span class="text-muted">As an open source repo, your contribution is welcome here. We are trying to make it
      bilingual (EN and BN).
      If possible, we will try to cover up Bangladeshi minor languages too.
      Thanks for your understand.
    </span>
    <h6>If you want to improve this page, kindly make a change here and pull a request to merge your gems!</h6>
    <hr>
    <span>
      Maintained and authorised by {{ site.author.name }} | Supported by Baueru of Forest and Environmet, Peoples republic of Bangladesh
    </span>
  </div>
</div>