---
layout: base
---
<div class="container-xxl docs-layout">
  {% include aside.html %}
  <main class="docs-main order-1 my-md-4">
    <article class="post h-entry container pt-50">
      <div class="e-content row">
        <h2><em>
            {%- if page.title -%}
            {{ page.title }}
            {%- else -%}
            {{ page.Species }}
            {%- endif -%}</em></h2>
            <span class="pb-3"> {{page.Author}} </span>
        <div class="col-lg-8 pe-lg-5 order-2 order-md-1" style="font-size:large">
          <div class="description">
            {{ page.Description }}
            {%- if page.img2 -%}
            <img src="{{ page.img2 }}" alt="{{ page.Species }}" class="py-3 mw-100">
            {%- endif -%}
            {%- if page.img3 -%}
            <img src="{{ page.img3 }}" alt="{{ page.Species }}" class="mw-100">
            {%- endif -%}
            {{ content }}
          </div>

        </div>
        <div class="col-lg-4 infobox order-1 order-md-2">
          <div class="wrapper p-2" style="border: 1px solid #f0f0f0;">
            <div class="text-center pb-2">
              <strong>Infobox</strong>
            </div>
            <table class="table">
              <tbody>
                {%- if page.Family -%}
                <tr>
                  <td class="family">Family</td>
                  <td class="{{page.Family}}">{{page.Family}}</td>
                </tr>
                <tr>
                  <img src="{{page.img}}" alt="{{page.Species}}" class="p-2 mw-100">
                </tr>
                {%- endif -%}
                <tr>
                  <td>Genus</td>
                  <td>{{page.Genus}}</td>
                </tr>
                <tr>
                  <td>Species</td>
                  <td>{{page.Species}}</td>
                </tr>
                <tr>
                  <td>Author</td>
                  <td>{{page.Author}}</td>
                </tr>
                <tr>
                  <td>Synonyms</td>
                  <td>{{page.Synonyms}}</td>
                </tr>
                <tr>
                  <td>Distribution</td>
                  <td>{{page.Distribution}}</td>
                </tr>
                <tr>
                  <td>Local Name</td>
                  <td>{{page.Local_Name}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </article>
  </main>
</div>
<div class="credintial py-5">
   <hr>
   <div class="container">
    <em>© Published Under MIT Liscence</em> <br>
    <!-- <em class="text-muted">As an open-source repository, your contributions are welcome here. We are trying to make it bilingual, supporting both English and Bengali. If possible, we will also try to include minor languages spoken in Bangladesh. Thank you for your understanding. If you want to improve this page, please make changes and submit a pull request to merge your changes.</em> -->
    <em class="d-block mt-3"> 
      Maintained and authorised by <a href="{{ site.author.url }}">{{ site.author.name }}</a> | Supported by the Bangladesh Forest Department and the Bangladesh National Herbarium under the Ministry of Environment, Forest and Climate Change.
    </em>
  </div>
</div>